ul#dropdown.dropdown-content.blue-text(style='z-index: 10000')
  li
    a(href='/editAccount') Account manager
  li
    a(href='/logout').nav-link_uncolappsable Log out
ul#dropdown2.dropdown-content.blue-text(style='z-index: 10000')
  li
    a(href='/editAccount') Account manager
  li
    a(href='/logout').nav-link_uncolappsable Log out