
nav
    position relative
    z-index 50

a.active
    &.active
        border-bottom 3px #fb8c00 solid
        background #1e88e5

.nav-link_colappsable
    &.active
        background #1e88e5
        color #fff !important
        &:hover
            background #1e88e5
            color #fff !important

#sidenav-overlay
    margin-left 300px
